/* OrderDetail.css */
.container {
    margin-top: 20px;
  }
  
  .card-header h2 {
    margin: 0;
  }
  
  .card-body h4 {
    margin-top: 20px;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
  }
  